# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [1]:
# type your code here
print("Ammad",45,True,59.43)

Ammad 45 True 59.43

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [1]:
# type your code here
print('Affan',34,45.65,False)

Affan 34 45.65 False

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [3]:
# type your code here
print("First") print(34) print(4.5) print(True) print(33.567890)

SyntaxError: invalid syntax (773200812.py, line 2)

4) Can a python print function take no value to print???

In [6]:
# type your answer here
print()

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [9]:
#type your code here
Men = 'Mr.Ahmed'
Menage_in_years= 30
Menprofession = "Lawer"
Mendegree_year = 2005
MenOffice = "The Himalya Associates"
MenWorking_since = 2015
Menheight_infeets = 5.10
MenWeight_ingrams = 70600
Menincome_inPKR = 200
print(Men)
print(Menprofession)
print(Mendegree_year)
print(Menage_in_years)
print(MenOffice)
print(MenWorking_since)
print(Menheight_infeets)
print(MenWeight_ingrams)
print(Menincome_inPKR)

Mr.Ahmed
Lawer
2005
30
The Himalya Associates
2015
5.1
70600
200

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [3]:
#type your code here 
work_year = 2022-2015
print(work_year)

7

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [5]:
#type your code here 
wy = 2015-2005
print(wy)

10

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [8]:
#type your code here 
in_dollar = 2000*215.21
print("The income in dollar",in_dollar,"$")

The income in dollar 430420.0 $

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [9]:
#type your code here 
in_dollar = 2000*215.21
print("The income in dollar",in_dollar,"$")
conv = int(in_dollar)
print(conv)

The income in dollar 430420.0 $
430420

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [10]:
#type your code here
conv_w =70600//1000
print(conv_w)

70

11) print the year of birth of Mr. Ahmed.

In [14]:
#type your code here 
age = 2022-1992
print(age)
print("The year of birth is 1992")

30
The year of birth is 1992

12) Can Rs. 100 be divided equally among 6 students? 
HINT: % operator

In [12]:
#type your code here

In [15]:
rs = 100%6
print(rs)

4

In [16]:
print("No divivded")

No divivded