# Taking User Input

In [1]:
name = input("Tell me your good name sir!")

Tell me your good name sir!Ahmed

In [4]:
age = input('Tell me your age')

Tell me your age19

# Age

In [6]:
input('Tell me your age')

Tell me your age21,24,22

'21,24,22'

In [8]:
Asad, Usman, Umar = input('Your age').split(',')

Your age21,19,24

In [9]:
print(Asad,Usman,Umar)

21 19 24

In [13]:
asad,usman = input('Enter your age ').split(',')

Enter your age 84,83

In [11]:
asad

'34'

In [12]:
usman

'56'

# New Work

In [14]:
age = 100
print(type(age))

<class 'int'>

In [17]:
str(100)
print(type(str(100)))

<class 'str'>

# String

In [18]:
country = 'Pakistan'

In [20]:
country.lower()

'pakistan'

In [29]:
country.capitalize()

'Pakistan'

In [22]:
country.upper()

'PAKISTAN'

In [32]:
sentence = 'My , name is oooo '
sentence.count(' o')

1

In [34]:
sentence.endswith(" ")

True

In [37]:
sentence.startswith('m')

False

In [44]:
sentence.find('o')

13

In [53]:
sentence.find('a',10)

14

In [54]:
'a' in sentence

True

# INDEX

In [60]:
#return index - mein aaega
text = "Hello my friends"
#       0123456789101112

In [40]:
#Indexing
text[-4]

'e'

In [41]:
text[6]

'm'

In [55]:
text.index('m')

6

In [56]:
text.find('ee',1)

-1

In [63]:
#Binary locations
ord('s')

115

In [64]:
#Skey location
chr(78)

'N'

# Concatenation

In [68]:
first_name = 'Ameen'
last_name = "Hamza"
first_name+" " + last_name+" " + str(25)

'Ameen Hamza 25'

In [70]:
user_name = input("Enter your name")
user_age = input("Enter your age")

print("User name is "+user_name+" and age is " + user_age)

Enter your nameUsman
Enter your age23
User name is Usman and age is 23

# Formating

In [ ]:
#{} is called placeholder

In [ ]:
print("User name is "+user_name+" and age is " + user_age)

In [71]:
"User name is {} and age is {}".format(user_name,user_age)

'User name is Usman and age is 23'

In [74]:
print('''
   ID Card
name = Ameen
father = Abid
course = Ai
Sir syed university
contact : 038593938


''')

   ID Card
name = Ameen
father = Abid
course = Ai
Sir syed university
contact : 038593938