# phython dictionary

# lecture no 2

In [1]:
print('Aaqib bhai')

Aaqib bhai

In [11]:
age = 10
age = age + 10

In [12]:
print('python',123,True,4.6,sep="*")

python*123*True*4.6

In [15]:
print('kese ho',end=' ')
print(1234,end=' ')
print(2.434,end=' ')
print(True,end=' ')

kese ho 1234 2.434 True

In [16]:
print()

In [24]:
friends_name = "Mr.Ahmed"
friends_age = 30
profession = "Lawer"
qualification = "Bachelor in law "
graduation_year = 2005
firm_name = "The himalia accociates"
firm_city = 'karachi'
joining_year = 2015
height_in_feets = 5.10
weight_in_gram = 70600
Monthly_income_pkr =200000

In [22]:
current_year = 2022
current_year-graduation_year

17

In [26]:
print(type(weight_in_gram))
weight_kg = weight_in_gram//1000
print(weight_kg)

<class 'int'>
70

In [27]:
current_year - friends_age

1992

In [29]:
print(100%6==0)

False